
<div th:fragment="header">
	<div id="headerBase">
		<div id="headerBg">
			<div class="container text-right" style="text-align: right; margin-right: 10px" id="userAuth">
			
				<div class="login" sec:authorize="isAuthenticated()" >
					Hi, <span sec:authentication="name" style="margin-right: 10px;"></span> <a th:href="@{/logout}" class="btn btn-light btn-sm"
						style="background-color: #007bff !important; color: white !important; width: 60px;">登出</a>
				</div>
				<div class="login" sec:authorize="!isAuthenticated()" >
					<!-- 	        	<a th:href="@{/appUser/getRegisterView}" class="btn btn-light btn-sm">註冊</a> -->
					<a th:href="@{/login}" class="btn btn-light btn-sm"
						style="background-color: #007bff !important; color: white !important; width: 60px;">登入</a>
				</div>
				
			</div>
		</div>
	</div>
</div>
