<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>


	<div layout:fragment="content">
		<h1 style="font-weight: 100;text-align: center;">Springboot Thymeleaf Jpa Lab</h1>
		<div class="container" style="text-align: center;">



			<table class="table table-bordered">
				<thead>
					<tr>
						<th scope="col" style="background-color: #F0F0F0;">點圖片進入功能</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><a href="/oa/caseReq/index"><img src="http://pic.qqkuyou.com/tximg/bbopipfz.jpeg" alt="點圖片進入功能"
								border="0"></a></th>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

</body>
</html>